    body {
        background-color: #f0f4f8;
        /* Light gray background for the page */
        font-family: 'Roboto', sans-serif;
        /* Use the Roboto font */
    }

    .container {
        padding-top: 0;
    }

    .queue-title {
        font-family: 'Roboto', sans-serif;
        /* Clean font */
        font-size: 2.2rem;
        /* Slightly smaller font size */
        font-weight: normal;
        /* Medium font weight for subtlety */
        color: #343a40;
        /* Dark gray color for readability */
        border-bottom: 2px solid #5161ce;
        /* Simple underline */
        padding-bottom: 10px;
        /* Space below the title */
        margin-bottom: 20px;
        /* Space below the title */
        transition: color 0.3s ease;
        /* Smooth color transition */
    }

    .queue-title:hover {
        color: #5161ce;
        /* Change color on hover for a slight effect */
    }


    .card {
        background-color: #f8f9fa;
        /* Light background for the card */
        border: none;
        /* No border for a clean look */
    }

    .card-body h4,
    .card-body h5,
    .card-body p {
        transition: transform 0.3s ease;
        /* Smooth animation on hover */
    }

    .card-body h4:hover,
    .card-body h5:hover,
    .card-body p:hover {
        transform: scale(1.05);
        /* Slightly enlarge text on hover */
    }

    .btn-primary {
        background-color: #007bff;
        /* Bootstrap primary color */
        border: none;
        /* No border for clean look */
        transition: background-color 0.3s;
        /* Smooth color transition */
    }

    .btn-primary:hover {
        background-color: #0056b3;
        /* Darker blue on hover */
    }

    hr {
        border-top: 2px solid #007bff;
        /* Blue line for the separator */
    }

    /* Responsive adjustments */
    @media (max-width: 576px) {
        .queue-title {
            font-size: 2rem;
            /* Slightly smaller title on mobile */
        }

        .card-body h4,
        .card-body h5 {
            font-size: 1.5rem;
            /* Adjust font sizes for smaller screens */
        }
    }